.container {
  width: 100%;
  height: 3rem;
  background: linear-gradient(to right, #034092, #b20fd4);
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
    color: aliceblue;
    text-align: center;
}